@page "/superheroes"
@inject ISuperHeroService SuperHeroService

<PageTitle>Super Heroes</PageTitle>

<h3>Super Heroes</h3>

<table>
    <thead>
        <tr>    
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

@code {

}
